
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body{
    background-image:url('http://wintablet.info/wp-content/uploads/2017/01/10f181fe73f9b5a7ee0be9eaac388562_mca-partners-with-growing-plant-growing-clipart_1917-1002.jpeg');
    background-size: cover;
    position: relative;
    height:100vh;
    overflow:hidden;
}
h1{
    font-family: 'Headland One', serif;
    font-size:20px;
    color:rgba(48, 38, 28, 0.945);
}

 

h4{
    font-size:30px;
    font-family: 'Fira Sans', sans-serif;
}
h2{
    margin-top: 20px;
    margin-bottom:10px;
}
.btn{
    color: white;
    width: 232px;
    height: 43px;
    font-size:17px;
    margin-top:30px;
    background: rgba(22, 73, 27, 0.98);
    border-radius:7px;
    
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: hand;
}
#google{
    width: 227px;
    height: 33px;
    background:transparent;
    border-radius: 20px;
    font-weight: normal;
    display:block;
    background-image:url('./img/google.png');
    background-position:25px;
    background-repeat:no-repeat;
    background-size:20px;
    font-size:14px;
    margin-top: 20px;
}
input{
display:block;
width: 225px;
height: 36px;


margin-top: 20px;
background: rgba(196, 196, 196, 0.53);
mix-blend-mode: normal;
border: 1px solid rgba(0, 0, 0, 0.32);
box-sizing: border-box;
padding: 10px;
font-family: 'Fira Sans', sans-serif;
}
#registro , #ingreso ,#cerrar{
    display:none;
}
#about{
margin-top: 13px;
margin-right: 13px;
height: 30px;
width: 50px;
font-size:10px;
background:transparent;
background-size:37px;
font-family: 'Fira Sans', sans-serif;
background: rgba(22, 73, 27, 0.98);
color:white;
    
}


.contenedor{
    display: flex; /*aqui damos flexibilidad y se pone un numero al lado de otro */
    display: -webkit-flex;/*prefijos necesarios*/
    display: -ms-flexbox;/*prefijos necesarios*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.conteinerH{
    display: -webkit-flex;/*prefijos necesarios*/
    display: -ms-flexbox;/*prefijos necesarios*/
    display: flex; /*aqui damos flexibilidad y se pone un numero al lado de otro */
    flex-direction: row;
    justify-content: space-between;
    background-color: #99cc33;
  
}
#atras{
    width: 232px;
    height: 43px;
    background:transparent;
    background-image:url('./img/Button-Back.png');
    background-size:40px;
    background-repeat:no-repeat;
    border: none;
}
.btn1{
    color: white;
    width: 200px;
    height: 43px;
    font-size:17px;
    background: rgba(22, 73, 27, 0.98);
    border-radius:7px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}